[project]
name = "embedding_deployment"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "pdfminer-six>=20251107",
    "pydantic-settings>=2.12.0",
    "pypdf>=6.4.*",
    "requests>=2.32.*",
    "transformers>=4.57.*",
]

[dependency-groups]
dev = [
    "black>=25.12.0",
    "isort>=7.0.0",
]
